body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: #f2f2f2;
  background-image: url('../images/backgrounds/bg-pattern-header.svg');
  background-repeat: no-repeat;
}

h2 {
  color: #5964E0;
}

h3 {
  font-family: 'Sofia Pro', sans-serif;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
}

h4 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #19202d;
}

.my-reservations .card h4 {
  color: #fff;
}

h5 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: #6e8098;
}

h6 {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.214;
  color: #5964e0;
}

.btn {
  font-size: .75rem;
}

.navbar-brand,
.navbar-toggler {
  position: relative;
  top: 1.1875rem;
}

.navbar-brand {
  left: 0.75rem;
}

.my-reservations {
  background: #121721;
}

.card {
  border-radius: 0.375rem;
  border: none;
  margin-bottom: 3.0625rem;
  position: relative;
}

.my-reservations .card {
  background: #19202d;
}

.card-avatar {
  position: absolute;
  top: -1.5625rem;
  left: 2rem;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 30%;
  color: #fff;
}

.card-body {
  padding: 3.0625rem 0.5625rem 2rem 2rem;
}

.card-text {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-bottom: 2.5rem;
}
