<!-- info modal -->
<div
  class="modal fade"
  id="infoModal{{home.id}}"
  tabindex="-1"
  aria-labelledby="infoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Information</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5 class="card-title">{{ home.location }}</h5>
        <h6 class="card-subtitle">€{{ home.daily_rate }}</h6>
        <p class="card-text">{{ home.summary }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- info modal -->
<div
  class="modal fade"
  id="bookingModal{{home.id}}"
  tabindex="-1"
  aria-labelledby="bookingModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title text-center" id="bookingModalLabel">Booking</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <form method="post">
          {{ b_form.hidden_tag() }}
          <h6 class="card-subtitle fw-normal my-2">
            Are you sure you want to book {{ home.summary }} in {{ home.location
            }} @ €{{ home.daily_rate }} per day?
          </h6>
          <div class="text-center text-warning">
            <p class="my-0"><i class="fas fa-exclamation-triangle"></i></p>
            <p>
              <em>
                Clicking the button below will confirm your purchase of this
                item.
              </em>
            </p>
          </div>
          <input id="wfmh_booking" name="wfmh_booking" type="hidden" value="{{ home.summary }}">
          {{ b_form.b_submit(class="btn btn-success btn-block") }}
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </form>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
