<!-- cancellation modal -->
<div
  class="modal fade"
  id="cancellationModal{{home.id}}"
  tabindex="-1"
  aria-labelledby="cancellationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning text-white">
        <h5 class="modal-title text-center" id="cancellationModalLabel">Cancellation</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <form method="POST">
          {{ c_form.hidden_tag() }}
          <h6 class="card-subtitle fw-normal my-2">
            Are you sure you want to cancel your booking of {{ home.summary }} in {{ home.location
            }} @ €{{ home.daily_rate }} per day?
          </h6>
          <div class="text-center text-danger">
            <p class="my-0"><i class="fas fa-exclamation-triangle"></i></p>
            <p>
              <em>
                Clicking the button below will release this home back to the WFMH marketplace.
              </em>
            </p>
          </div>
          <input id="wfmh_cancellation" name="wfmh_cancellation" type="hidden" value="{{ home.summary }}">
          {{ c_form.c_submit(class="btn btn-warning btn-block") }}
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </form>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
