{% extends 'base.html' %} {% block title %} WFMH | Browse {% endblock %} {%
block content %}
<div class="row m-4">
  <div class="col-md-8 px-0">
    <h2 class="text-center my-5 pt-2 px-2">
      Click on any of the WFMH listings below to find out more!
    </h2>
    {% for home in available_homes %} {% include 'helpers/modals_booking.html'
    %}
    <div class="card">
      <!-- <img src="https://picsum.photos/400/600" class="card-img-top" alt="..." /> -->
      <div class="card-body">
        <div
          class="card-avatar d-flex justify-content-center align-items-center" style='background-color:{{ color[loop.index0] }}'
        >
          {% set location_list = home.location.split(' ') %}
          <h3 class="mb-0 mt-1">{% for item in location_list %}{{ item[0] }}{% endfor %}</h3>
        </div>
        <h4 class="card-text">{{ home.summary }}</h4>
        <h5 class="card-subtitle">€{{ home.daily_rate }}</h5>
        <h6 class="card-title">{{ home.location }}</h6>
        <!-- <div
          class="btn-group"
          role="group"
          aria-label="Basic mixed styles example"
        > -->
        <!-- button to trigger info modal -->
        <!-- <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#infoModal{{ home.id }}"
          >
            INFO
          </button>
          <button type="button" class="btn btn-warning">CENTRE</button> -->
        <!-- button to trigger booking modal -->
        <!-- <button
            type="button"
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#bookingModal{{ home.id }}"
          >
            BOOK
          </button>
        </div> -->
      </div>
      <!-- <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div> -->
    </div>
    {% endfor %}
  </div>
  <div class="col-md-4 my-reservations">
    <h2 class="text-center my-5 pt-2 px-2">My WFMH reservations</h2>
    <p class="text-center text-light mb-3">
      Click on an item to place it back on the market
    </p>
    {% for home in my_homes %} {% include 'helpers/modals_cancellation.html' %}
    <div class="card">
      <!-- <img src="https://picsum.photos/300/450" class="card-img-top" alt="..." /> -->
      <div class="card-body">
        <h4 class="card-text">{{ home.summary }}</h4>
        <h5 class="card-subtitle">€{{ home.daily_rate }}</h5>
        <h6 class="card-title">{{ home.location }}</h6>
        <!-- button to trigger cancellation modal -->
        <button
          type="button"
          class="btn btn-warning mt-5 py-2 px-3 text-white"
          data-bs-toggle="modal"
          data-bs-target="#cancellationModal{{ home.id }}"
        >
          CANCEL BOOKING
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
