{% extends 'base.html' %} {% block title %} WFMH | Browse {% endblock %} {%
block content %}
<h1>Click on any of the WFMH listings below to find out more!</h1>

{% for home in homes %}
<div class="card" style="width: 18rem">
  <img src="https://picsum.photos/400/600" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ home.location }}</h5>
    <h6 class="card-subtitle">€{{ home.daily_rate }}</h6>
    <p class="card-text">{{ home.summary }}</p>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button type="button" class="btn btn-info">Left</button>
      <button type="button" class="btn btn-warning">Middle</button>
      <button type="button" class="btn btn-success">Right</button>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{% endfor %} {% endblock %}
